<% docker_images.each do |d| %>

<h3>
<a href="<%= h(d.url) %>">Image <%= h(d.image) %></a>
<%= status_symbol(d) %>
</h3>

<table>
  <tbody>
    <% d.builds.each do |b| %>
      <tr class="<%= b.status_type != :error ? "success_row" : "" %>">
        <td><%= h(b.tag) %></td>
        <td class="center">
          <a href="<%= h(d.builds_url) %>">
            <span class="badge badge_<%= h(b.status_type) %>">
              <%= h(b.status_label) %>
            </span>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>