<% jenkins_servers.each do |s|%>

<h3>
<img src="https://ci.opensuse.org/static/059b3e24/images/headshot.png" alt="Jenkins icon" height="20">
<a href="<% h(s.base_url) %>">
  <%= s.label %>
</a>
<% if s.success? %>
  <span style="color:green">✔</span>
<% else %>
  <span style="color:red">✘</span>
<% end %>
</h3>

<table>
  <tbody>
    <% s.jobs.each do |j| %>
      <tr class="<%= j.status_type != :error ? "success_row" : "" %>">
        <td><%= h(j.name) %></td>
        <td class="center">
          <span class="badge badge_<%= h(j.status_type) %>">
            <a href="<%= h(s.console_url(j.name)) %>">
              <%= h(j.status_label) %></td>
            </a>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>