<% obs_projects.each do |p|%>

<h3>
<a href="<%= h(p.project_url) %>"><%= p.name %></a>
<%= status_symbol(p) %>
</h3>

<h4 class="<%= p.builds? ? "success_row" : "" %>">
<a href="<%= h("#{p.web_url}/project/monitor/#{p.name}") %>">
Build Results
</a>
</h4>

<table>
  <tbody>
    <% p.builds.each do |b| %>
      <tr class="<%= b.status_type != :error ? "success_row" : "" %>">
        <td><%= h(b.package) %></td>
        <td><%= h(b.target) %></td>
        <td class="center">
          <span class="badge badge_<%= h(b.status_type) %>">
            <% path = (b.status == "failed") ? "package/live_build_log" : "package/show" %>
            <a href="<%= h("#{p.web_url}/#{path}/#{p.name}/#{b.package}/#{b.status == "failed" ? target : ""}") %>">
              <%= h(b.status_label) %>
            </a>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4 class="<%= !p.declined? ? "success_row" : "" %>">
<a href="<%= h("#{p.web_url}/project/requests/#{p.name}") %>">
Declined Submit Requests
</a>
</h4>

<% unless p.declined_requests.empty? %>
<table>
  <tbody>
    <% p.declined_requests.each do |r| %>
      <tr>
        <td><%= h(r.id) %></td>
        <td><%= h(r.details) %></td>
        <td class="center">
          <span class="badge badge_error">
            <a href="<%= h("#{p.web_url}/request/show/#{r.id}") %>">
              declined
            </a>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% end %>