<% docker_images.each do |d| %>

<h3>
<a href="<%= h(d.url) %>">Image <%= h(d.image) %></a>
<%= status_symbol(d) %>
</h3>

<% if d.error? %>
  <span class="badge badge_error">
    Error: <%= h(d.error) %>
  </span>
<% else %>
  <table>
    <tbody>
      <% d.builds.each do |b| %>
        <% if b.status_type == :error %>
          <tr id="failure_id:<%= h(b.issue_id) %>">
        <% else %>
          <tr class="success_row">
        <% end %>
          <td><%= h(b.tag) %></td>
          <td class="center">
            <a href="<%= h(d.builds_url) %>">
              <span class="badge badge_<%= h(b.status_type) %>">
                <%= h(b.status_label) %>
              </span>
            </a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
<% end %>
