<% jenkins_servers.each do |s|%>

<h3>
<a href="<%= h(s.base_url) %>"><%= s.label %></a>
<%= status_symbol(s) %>
</h3>

<table>
  <tbody>
    <% s.jobs.each do |j| %>
      <tr class="<%= j.status_type != :error ? "success_row" : "" %>">
        <td>
          <a href="<%= h(j.job_url) %>">
            <%= h(j.name) %>
          </a>
        </td>
        <td class="center">
          <a href="<%= h(j.console_url) %>">
            <span class="badge badge_<%= h(j.status_type) %>">
              <%= h(j.status_label) %>
            </span>
          </a>
        </td>
        <% if j.status_type == :error %>
          <td>
            <% unless j.scanner.author.empty? %>
              <img src="https://github.com/<%= h(j.scanner.author) %>.png?size=32" height="20" class="vmiddle">
              <%= h(j.scanner.author) %>
            <% end %>
          </td>
          <% errors, actions = j.scanner.analyze %>
          <td>
            <%= errors.map{|e| h(e)}.join("<br>") %>
          </td>
          <td>
            <%= actions.map{|a| h(a)}.join("<br>") %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>