<% obs_projects.each do |p|%>

<h3>
  <a href="<%= h(p.project_url) %>">
    <%= (p.api == "https://api.suse.de") ? "IBS" : "OBS" %>
    <%= p.name %>
  </a>
  <%= status_symbol(p) %>
</h3>

<h4 class="<%= p.builds? ? "success_row" : "" %>">
<a href="<%= h("#{p.web_url}/project/monitor/#{p.name}") %>">
Build Results
</a>
</h4>

<% if p.error_status? %>
  <span class="badge badge_error">
    Error: <%= h(p.error_status) %>
  </span>
<% else %>
  <table>
    <tbody>
      <% p.builds.each do |b| %>
        <% if b.status_type == :error %>
          <tr id="failure_id:<%= h(b.issue_id) %>">
        <% else %>
          <tr class="success_row">
        <% end %>
          <td><%= h(b.package) %></td>
          <td><%= h(b.target) %></td>
          <td class="center">
            <% path = (b.status == "failed") ? "package/live_build_log" : "package/show" %>
            <a href="<%= h("#{p.web_url}/#{path}/#{p.name}/#{b.package}/#{b.status == "failed" ? b.target : ""}") %>">
              <span class="badge badge_<%= h(b.status_type) %>">
                <%= h(b.status_label) %>
              </span>
            </a>
          </td>
          <% if b.status == "failed" %>
            <% errors, actions = b.scanner.analyze %>
            <td class="hint" title="<%= actions.map{|a| h(a)}.join("\n") %>">
              <%= errors.map{|e| h(e)}.join("<br>") %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<h4 class="<%= !p.declined? ? "success_row" : "" %>">
<a href="<%= h("#{p.web_url}/project/requests/#{p.name}") %>">
Declined Submit Requests
</a>
</h4>

<% if p.error_requests? %>
  <span class="badge badge_error">
    Error: <%= h(p.error_requests) %>
  </span>
<% elsif !p.declined_requests.empty? %>
<table>
  <tbody>
    <% p.declined_requests.each do |r| %>
      <tr id="failure_id:<%= h(r.issue_id) %>" >
        <td><%= h(r.id) %></td>
        <td><%= h(r.details) %></td>
        <td class="center">
          <a href="<%= h("#{p.web_url}/request/show/#{r.id}") %>">
            <span class="badge badge_error">
              declined
            </span>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% end %>