<h1>
  <img src="https://avatars3.githubusercontent.com/u/909990?s=60&amp;v=4" alt="YaST icon" height="30" class="vbottom">
  YaST Status Overview
</h1>
<div class="indent">
<% total_failures = (jenkins_servers + obs_projects + docker_images).map(&:issues).sum %>
<% errors = (jenkins_servers + obs_projects + docker_images).map(&:error?).any? %>
<% if total_failures.zero? && !errors %>
  <span class="badge badge_success">
    Wow! Everything is green!
  </span>
<% elsif total_failures > 0 %>
  <span class="badge badge_error">
    <%= total_failures %> <%= total_failures == 1 ? "issue" : "issues" %> in total
  </span>
<% end %>

  <span id="new_issues_count" class="badge highlight hidden"></span>
</div>

<br>

<h2>
  Regular Checks
</h2>
<div class="indent">
<% renderer = Y2status::ErbRenderer.new("_checks.html.erb") %>
<%= renderer.render %>
</div>

<h2>
  <img src="https://ci.opensuse.org/static/059b3e24/images/headshot.png" alt="Jenkins icon" height="20">
  Jenkins Status
</h2>
<div class="indent">
<% renderer = Y2status::ErbRenderer.new("_jenkins.html.erb") %>
<%= renderer.render(jenkins_servers: jenkins_servers) %>
</div>

<h2>
  <img src="https://raw.githubusercontent.com/openSUSE/artwork/master/Logo/buttons/button-filled-colour.png" alt="openSUSE icon" height="28" class="vbottom">
  Build Service Status
</h2>
<div class="indent">
<% renderer = Y2status::ErbRenderer.new("_obs.html.erb") %>
<%= renderer.render(obs_projects: obs_projects) %>
</div>

<h2>
  <img class="docker_icon" src="https://cloud.docker.com/static/favicon.png" alt="Docker icon">
  Docker Hub Status
</h2>
<div class="indent">
<% renderer = Y2status::ErbRenderer.new("_docker.html.erb") %>
<%= renderer.render(docker_images: docker_images) %>
</div>
