<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>YaST Status Overview</title>

  <style>
    <%= File.read(File.join(__dir__, "_reset.css")) %>
    <%= File.read(File.join(__dir__, "_style.css")) %>
  </style>

  <script>
    <%= File.read(File.join(__dir__, "_script.js")) %>
  </script>
</head>

<body>
  <div id="filter">
    <label><input id="show_all" type="checkbox" checked="checked"/> Display Only Failures</label>
    <%# TODO: outdated page notification %>
  </div>

  <%= body %>

  <footer>
    Generated at <%= Time.now.strftime("%c %Z") %>
  </footer>
</body>
</html>
